

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    font-family: 'Helvetica Neue', 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    /* margin-left: -10px; */
}

.nav-bar {
    background-color: black;
    text-align: center;
    padding: 20px;
    font-family: 'Helvetica Neue', 'Poppins', sans-serif;
}

.nav-bar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Helvetica Neue', 'Poppins', sans-serif;
}

.nav-bar a:hover {
    color: white;
    border: solid 1px blue;
    border-radius: 10px;
    background-color: blue;
}

.layout-container {
    display: flex;
    height: calc(100vh - 50px); /* Adjusted to account for the nav-bar */
    font-family: 'Helvetica Neue', 'Poppins', sans-serif;
}

.layout-left {
    flex: 2;
    background-color: blue; /* Verde */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', 'Poppins', sans-serif;
}

.layout-left h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.layout-left p {
    font-size: 1.5rem;
    text-align: center;
}

.layout-right {
    flex: 1;
    background-color: #ffffff; /* Bianco */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Helvetica Neue', 'Poppins', sans-serif;
}

.form-container {
    margin-bottom: 40px;
    padding: 50px;
    background-color: #f8f9fa;
    border-radius: 8px;
    font-family: 'Helvetica Neue', 'Poppins', sans-serif;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.form-container form div {
    margin-bottom: 15px;
}

.form-container form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Helvetica Neue', 'Poppins', sans-serif;
}

.form-container form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Helvetica Neue', 'Poppins', sans-serif;
}

.form-container form button:hover {
    background-color: blue;
}

/* Media query for smartphones */
@media only screen and (max-width: 600px) {
    .layout-left {
        display: none; 
    }

    .layout-right {
        flex: 1; 
    }

    .layout-container {
        flex-direction: column; 
        height: 100vh; 
        font-family: 'Helvetica Neue', 'Poppins', sans-serif;
    }

    .nav-bar {
        padding: 10px; 
        margin-top: 45px;
        width: 100vw;
    }

    .nav-bar a {
        padding: 10px; 
        margin: 0 5px; 
    }
}
